h1 {
  color: white
} 
.col {
  background-color: black
}
.platains {
  background-color: red
}
div {
  background-color: black;
}
p{
  color: white;
}
.bananas{
  background-color: Blue;
}
.apples{
  background-color: green;
}